@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins" , sans-serif;
    background: url(https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80) no-repeat;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.quiz-container {
    background: rgb(224, 224, 224);
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    max-width: 100%;
    overflow: hidden;
}
.quiz-header {
    padding: 4rem;
}
h2 {
    margin: 0;
    text-align: center;
    padding: 1rem;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}
ul li label {
    cursor: pointer;
    font-weight: 50%;
}
button {
    font-family: inherit;
    color: white;
    background-color: blueviolet;
    display: block;
    padding: 1.3rem;
    border: none;
    width: 100%;
    cursor: pointer;
}
button:hover {
    background-color: rgb(102, 25, 174)
}
