@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins" , sans-serif;
    margin: 0;
    background: url(https://images.unsplash.com/photo-1464347601390-25e2842a37f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1210&q=80) no-repeat;
    min-height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-decoration: dashed;
    background-color: palevioletred;
    border-radius: 10px;
    padding: 0 2rem;
    font-weight: lighter;
    font-size: 4rem;
    color: black
}
.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el {
    text-align: center;
    color: #fff;
}
.countdown-el span {
    font-size: 1.5rem;
    color: aquamarine;
}
